In [1]:
# Data Pre-Processing

In [2]:
import pandas as pd
import numpy as np

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
data=pd.read_csv('TexasTurbine.csv')

In [5]:
data.head()

,Time stamp,System power generated | (kW),Wind speed | (m/s),Wind direction | (deg),Pressure | (atm),Air temperature | ('C)
0,"Jan 1, 12:00 am",1766.64,9.926,128,1.000480,18.263
1,"Jan 1, 01:00 am",1433.83,9.273,135,0.999790,18.363
2,"Jan 1, 02:00 am",1167.23,8.660,142,0.999592,18.663
3,"Jan 1, 03:00 am",1524.59,9.461,148,0.998309,18.763
4,"Jan 1, 04:00 am",1384.28,9.184,150,0.998507,18.963

In [6]:
data.shape

(8760, 6)

In [7]:
data.size

52560

In [8]:
df=data.dropna()

In [9]:
df.columns

Index(['Time stamp', 'System power generated | (kW)', 'Wind speed | (m/s)',
       'Wind direction | (deg)', 'Pressure | (atm)', 'Air temperature | ('C)'],
      dtype='object')

In [10]:
df.tail()

,Time stamp,System power generated | (kW),Wind speed | (m/s),Wind direction | (deg),Pressure | (atm),Air temperature | ('C)
8755,"Dec 31, 07:00 pm",1234.70,8.848,129,0.998604,19.663
8756,"Dec 31, 08:00 pm",1105.37,8.502,118,1.000090,19.063
8757,"Dec 31, 09:00 pm",1405.71,9.224,117,0.998408,18.463
8758,"Dec 31, 10:00 pm",1221.36,8.799,116,0.998013,18.063
8759,"Dec 31, 11:00 pm",1676.77,9.748,121,1.000380,18.163

In [11]:
df.shape

(8760, 6)

In [12]:
df.size

52560

In [13]:
df.describe()

,System power generated | (kW),Wind speed | (m/s),Wind direction | (deg),Pressure | (atm),Air temperature | ('C)
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,964.467934,7.376120,146.616210,0.992368,22.147298
std,878.558112,3.138291,84.678754,0.005332,4.855232
min,0.000000,0.119000,0.000000,0.974514,3.263000
25%,215.951500,5.121000,99.000000,0.988925,19.463000
50%,693.968500,7.340500,135.000000,0.991495,22.763000
75%,1562.287500,9.599000,169.000000,0.995045,26.063000
max,3004.010000,19.743000,360.000000,1.014510,32.963000

In [14]:
df.corr()

,System power generated | (kW),Wind speed | (m/s),Wind direction | (deg),Pressure | (atm),Air temperature | ('C)
System power generated | (kW),1.000000,0.954760,-0.044963,-0.129611,-0.015646
Wind speed | (m/s),0.954760,1.000000,-0.075695,-0.128648,0.005544
Wind direction | (deg),-0.044963,-0.075695,1.000000,-0.017397,-0.172115
Pressure | (atm),-0.129611,-0.128648,-0.017397,1.000000,-0.605576
Air temperature | ('C),-0.015646,0.005544,-0.172115,-0.605576,1.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Time stamp                     8760 non-null   object
 1   System power generated | (kW)  8760 non-null   float64
 2   Wind speed | (m/s)             8760 non-null   float64
 3   Wind direction | (deg)         8760 non-null   int64
 4   Pressure | (atm)               8760 non-null   float64
 5   Air temperature | ('C)         8760 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 479.1+ KB

In [16]:
df.isnull()

,Time stamp,System power generated | (kW),Wind speed | (m/s),Wind direction | (deg),Pressure | (atm),Air temperature | ('C)
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
8755,False,False,False,False,False,False
8756,False,False,False,False,False,False
8757,False,False,False,False,False,False
8758,False,False,False,False,False,False
8759,False,False,False,False,False,False

In [17]:
df.isnull().sum()

Time stamp                       0
System power generated | (kW)    0
Wind speed | (m/s)               0
Wind direction | (deg)           0
Pressure | (atm)                 0
Air temperature | ('C)           0
dtype: int64

In [18]:
df=df.rename({'Time stamp':'Time_stamp','System power generated | (kW)':'System_power_generated',
              'Wind speed | (m/s)':'wind_speed','Wind direction | (deg)':'Wind_direction',
              'Pressure | (atm)':'Pressure',"Air temperature | ('C)":'Air_temperature'},axis=1)

In [19]:
df.columns

Index(['Time_stamp', 'System_power_generated', 'wind_speed', 'Wind_direction',
       'Pressure', 'Air_temperature'],
      dtype='object')

In [20]:
a=df['System_power_generated'].unique()
a.sort()
print(a)

[0.00000e+00 1.42225e-02 1.75584e-01 ... 3.00323e+03 3.00360e+03
 3.00401e+03]

In [21]:
print('Maximum Power Generated by system(kW):',df['System_power_generated'].max())
print('Minimum Power Generated by system(kW):',df['System_power_generated'].min())
print('Mean of System Power Generated','%.2f'% df['System_power_generated'].mean())
print('Median of System Power Generated','%.2f'% df['System_power_generated'].median())
print('Mode of System Power Generated','%.2f'% df['System_power_generated'].mode())

Maximum Power Generated by system(kW): 3004.01
Minimum Power Generated by system(kW): 0.0
Mean of System Power Generated 964.47
Median of System Power Generated 693.97
Mode of System Power Generated 0.00

In [22]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8755    False
8756    False
8757    False
8758    False
8759    False
Length: 8760, dtype: bool

In [23]:
sum(df.duplicated())

0